body {
  margin: 0px;
  padding: 0px;
  background-color: #4d515e;
  font-family:  sans-serif;
 }
p, h5 {
  color: #b5bbc7;
}
h1 {
  font-weight: normal;
  color: #616060;
}
h4 {
  margin: 0;
  color: #616060;
  font-size: 0.8em;
  line-height: 1em;
  font-weight: bold;
  }
.wrapper {
  display: block;
  background-image: url(img/backg.jpg);
  background-position: right;
  background-size: 80% 100% ;
  background-repeat: no-repeat;
  width: 70%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 0px 10px 10px 0px;
}
.sign-up  {
  display: block;
  padding: 20px 50px 20px 50px;
  width: 60%;
  min-width:350px;
  background-color: white; 
  border-radius: 10px 0px 0px 10px;
}
.lorem {
  padding: 10px 0px 20px 0px;
  font-size: 0.9em;
  line-height: 2em;
}
.sign-up-button {
  display: block;
  padding-top: 20px;
  }
.button {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 25px 0px 25px 0px; 
  border-width: 2px;
  border-color: black;
  border-radius: 7px;
  text-decoration: none;
  border-style: solid;
  border-color: #e3e7ec;
  text-align: center;
  color: black;
  font-style: bold;
  padding-top: 20px;
}
.footer {
  display: block;
  margin: 40px 0 10px 0;
  padding: 40px 0px 10px 0px;
  width: 100%;
  border-top: 1px solid  #ecedee;
}
.footer-l {
  float: left; 
  margin: 0px;
  color: #545b67;
  font-size: 0.9em;
  width: 48%;
}
.footer-r {
  float: right;
  margin: 0px;
  font-size: 0.9em;
  width: 48%;
  text-align: right;
}
.g{
  background-image: url(img/g.png);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: 10% 50%;
}
.f{
  background-image: url(img/f.png);
  background-size: 30px 40px;
  background-repeat: no-repeat;
  background-position: 10% 50%;
}
.tv{
  background-image: url(img/tv.png);
  background-size: 35px 40px;
  background-repeat: no-repeat;
  background-position: 10% 50%;
}
.footer a {
  text-decoration: none;
  color: #9dc950;
  font-weight: bold;
 }
 .button:hover{
-webkit-box-shadow: -2px 6px 15px 2px rgba(237,237,237,1);
-moz-box-shadow: -2px 6px 15px 2px rgba(237,237,237,1);
box-shadow: -2px 6px 15px 2px rgba(237,237,237,1);
}
