body {
	font-family: sans-serif;
}
a {
	text-decoration: none!important;
}
.width-100{
	width: 100%;
	height: auto;
}
.emblem{
	height: 82px;
}
.title {
 text-align: center;
  font-size: 1.2em;
 }
.nav-school-item {
	font-size: 1.2em;
}
.school-abilities{
	font-size: 1.5em;
	font-weight: bold;
	color: #0667CE;
}
.main-bg{
	background-color: #F8F8F8;
}
.ads-bg{
	background-color: #FFFFFF;
}
.I-IIIst{
	background-color: #E7E7E7;
}
.bg-coment{
	height: 160px;
	width: 10%;
}
.vidguk-blok{
	display: block;
	width: 89%;
	float: left;
	height: 160px;
	border: 1.5px solid #0667ce!important;
	border-left: none!important; 
}
.news-section{
	display: inline-block;
	border-right: 3px solid #C8C8C8!important;
	padding-right: 15px;
}
.news-top-a{
	font-size: 20px;
	font-weight: bold;
	margin-left: 15px;
}
.arrow-mr{
	margin-right: 10px;
}
.news{
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.39);
box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.39);
}
.news-nav-text-color a{
	color: #0143A5;
}
.data-text{
	color: #919291;
}
.button-more, .form-submit{
	background-color: #0667CE;
	color: #FFFCFC;
	font-weight: bold;
	font-size: 0.9em;
	line-height: 1em;
	border-radius: 0;
	right: 15px;
	float: right;
	bottom:0;
	padding: 10px;
}
.button-more:hover{
	background-color: #003268;
	color: #FFFCFC;
}
.news-top{
	display: block;
}
.grafik-bg{
	background-color: #1E2C3B;
	opacity: 0.90;
	left: 0;
	height: 350px;
	position: absolute;
}
.map{
	margin-bottom: -8px;
	
}
.navigate-link{
	display: none;
}
.text-map{
	margin-bottom: 3px;
	color: #C7C7C7;
}
.copi-r{
	display: block;
	background-color: #1E2C3B;
	margin-bottom: -8px;
}
.copi-r h5{
	margin-bottom: -8px;
}
.calendar{
	height: 95%;
	width: 100%;
}

.img-anim-uvelich{
-moz-transition: all 0.5s ease-out;
 -o-transition: all 0.5s ease-out;
 -webkit-transition: all 0.5s ease-out;
}
.img-anim-uvelich:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 }
.uvelich{
-moz-transition: all 0.3s ease-out;
 -o-transition: all 0.3s ease-out;
 -webkit-transition: all 0.3s ease-out;
}
.uvelich:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 }

/*.zatemnenie a { display: block; position: relative; }
.zatemnenie a:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: #195EA6;  opacity: 0; }
.zatemnenie a:hover:before { opacity: 0.3; }
.zatemnenie {
	
}*/